<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">C++ Website</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/code">Code Editor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pdf">PDF Lectures</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <h1>PDF Lectures</h1>
    <div class="list-group">
      <a href="/pdf/CPP_Chap_01.pdf" class="list-group-item list-group-item-action">Chapter  1 C++ Basic</a>
      <a href="/pdf/CPP_Chap_02.pdf" class="list-group-item list-group-item-action">Chapter  2 Flow of Control</a>
      <a href="/pdf/CPP_Chap_03.pdf" class="list-group-item list-group-item-action">Chapter  3 Function</a>
      <a href="/pdf/CPP_Chap_04.pdf" class="list-group-item list-group-item-action">Chapter  4 Parameters & overloading</a>
      <a href="/pdf/CPP_Chap_05.pdf" class="list-group-item list-group-item-action">Chapter  5 Arrays</a>
      <a href="/pdf/CPP_Chap_06.pdf" class="list-group-item list-group-item-action">Chapter  6 Structures and Classes</a>
      <a href="/pdf/CPP_Chap_07.pdf" class="list-group-item list-group-item-action">Chapter  7 Constructors & Other Tools</a>
      <a href="/pdf/CPP_Chap_08.pdf" class="list-group-item list-group-item-action">Chapter  8 Operator Overloading and Friends</a>
      <a href="/pdf/CPP_Chap_09.pdf" class="list-group-item list-group-item-action">Chapter  9 Strings</a>
      <a href="/pdf/CPP_Chap_10.pdf" class="list-group-item list-group-item-action">Chapter 10 Pointer and Dynamic Arrays</a>
      <a href="/pdf/CPP_Chap_11.pdf" class="list-group-item list-group-item-action">Chapter 11 Namespace and Separate Compilation</a>
      <a href="/pdf/CPP_Chap_12.pdf" class="list-group-item list-group-item-action">Chapter 12 Streams and File I/O</a>
      <a href="/pdf/CPP_Chap_14.pdf" class="list-group-item list-group-item-action">Chapter 14 Inheritance</a>
      <a href="/pdf/CPP_Chap_15.pdf" class="list-group-item list-group-item-action">Chapter 15 Polymorphism and Virtual Functions</a>
      <a href="/pdf/CPP_Chap_16.pdf" class="list-group-item list-group-item-action">Chapter 16 Templates</a>
      <a href="/pdf/CPP_Chap_18.pdf" class="list-group-item list-group-item-action">Chapter 18 Exception Handing</a>
    </div>
  </div>
</body>
</html>
