<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">C++ Website</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/code">Code Editor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pdf">PDF Lectures</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <h1>PDF Lectures</h1>
    <div class="list-group">
      <a href="https://drive.google.com/file/d/1ZRB2Kd5_j00KslvFegetRSLK5uEzQoSZ/view?usp=drive_link" class="list-group-item list-group-item-action">Chapter  1 C++ Basic</a>
      <a href="https://drive.google.com/file/d/1C4WglYCJOI6flBoz5212xDmS2YZ4qDta/view?usp=drive_link" class="list-group-item list-group-item-action">Chapter  2 Flow of Control</a>
      <a href="https://drive.google.com/file/d/1pNptbbf3_m6aiziV4DrcdvsTGccnvddf/view?usp=drive_link" class="list-group-item list-group-item-action">Chapter  3 Function</a>
      <a href="https://drive.google.com/file/d/1JNclgVyRbmt-rOCHnccRTRYxXNQ4q4Z2/view?usp=drive_link" class="list-group-item list-group-item-action">Chapter  4 Parameters & overloading</a>
      <a href="https://drive.google.com/file/d/17jPOXXR5Di92I7POq8vzOHCYEw4sV8z5/view?usp=drive_link" class="list-group-item list-group-item-action">Chapter  5 Arrays</a>
      <a href="https://drive.google.com/file/d/1vDg7-NUf-BgiTq_5kwjgRK_Z_JnyfKsl/view?usp=drive_link" class="list-group-item list-group-item-action">Chapter  6 Structures and Classes</a>
      <a href="https://drive.google.com/file/d/1vhRppks-zPS3Yq-v9MKq6Zgmr-tInky4/view?usp=drive_link" class="list-group-item list-group-item-action">Chapter  7 Constructors & Other Tools</a>
      <a href="https://drive.google.com/file/d/1WJ7pe-5I7_IaCagMgDCtiU0AN7jaZnIx/view?usp=drive_link" class="list-group-item list-group-item-action">Chapter  8 Operator Overloading and Friends</a>
      <a href="https://drive.google.com/file/d/1odye1yL8MPzoMZhKBhUQt-jp7_pO52be/view?usp=drive_link" class="list-group-item list-group-item-action">Chapter  9 Strings</a>
      <a href="https://drive.google.com/file/d/1sM7M53gu3TFIRioJDpzvU7mi3NquvPMi/view?usp=drive_link" class="list-group-item list-group-item-action">Chapter 10 Pointer and Dynamic Arrays</a>
      <a href="https://drive.google.com/file/d/1ZR9TwKYmoYyEQpYrmKRWgVIatqkaL8HI/view?usp=drive_link" class="list-group-item list-group-item-action">Chapter 11 Namespace and Separate Compilation</a>
      <a href="https://drive.google.com/file/d/10hFw1Q6PnLampEV4vFPY8qhgpsStmz-N/view?usp=drive_link" class="list-group-item list-group-item-action">Chapter 12 Streams and File I/O</a>
      <a href="https://drive.google.com/file/d/1C9Q2SCFfuofPAl_qtXaNATZUqMhHmVq-/view?usp=drive_link" class="list-group-item list-group-item-action">Chapter 14 Inheritance</a>
      <a href="https://drive.google.com/file/d/1VkyX42tj-BPFkMRangqbHtKGDxABxJ6b/view?usp=drive_link" class="list-group-item list-group-item-action">Chapter 15 Polymorphism and Virtual Functions</a>
      <a href="https://drive.google.com/file/d/1p6vTkN41E9Y-TGQh54fr9TzCnNxKvb8u/view?usp=drive_link" class="list-group-item list-group-item-action">Chapter 16 Templates</a>
      <a href="https://drive.google.com/file/d/1jQjn9BcwrQ4aB7X5P7n8hBlprejGFmLb/view?usp=drive_link" class="list-group-item list-group-item-action">Chapter 18 Exception Handing</a>
    </div>
  </div>
</body>
</html>
